.root {
    -fx-font-family: "Roboto";
}

.default-bg {
    -fx-background-image: url("file:src/assets/default-bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

