.root {
    -fx-font-family: "Roboto";
}

.default-bg {
    -fx-background-image: url("file:src/assets/default-bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.buttons{
	-fx-border-insets: 20px;
}

.page-button{
	-fx-background-radius: 50;
	-fx-border-color: transparent;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0.5, 1);
	-fx-font-size: 12;
	-fx-padding: 5px 10px;
}

.page-button:hover{
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.page-button:pressed{
	-fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.page-button-active{
	-fx-background-color: #736FDC;
	-fx-text-fill: white;
}

.page-button-active:disabled{
	-fx-background-color: white;
	-fx-text-fill: #736FDC;
}

.page-button-inactive{
	-fx-background-color: white;
	-fx-text-fill: #736FDC;
}

.styled-date-picker {
    -fx-background-color: white;
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-width: 1px;
    

    -fx-font-size: 12px;
    -fx-text-fill: #333;
    -fx-padding: 0;
}

.styled-date-picker .arrow-button {
    -fx-background-color: #736FDC;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.styled-date-picker .arrow-button:hover {
    -fx-background-color: #5f5ac6;
}

.styled-date-picker .arrow-button:hover .arrow {
    -fx-background-color: white;
}

.logger-scroll {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.logger-scroll .viewport {
    -fx-background-color: transparent;
}