.root {
    -fx-font-family: "Roboto";
}

.default-bg {
    -fx-background-image: url("file:src/assets/login-bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.logger {
	-fx-background-color:white;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-padding:50;
}

.containers-shadow {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 7, 0.5, 1, 2);
}

.label {
	-fx-text-fill: #736FDC;
	-fx-font-weight: bold;
	-fx-font-size: 30;
}

.header-text {
	-fx-font-size: 14;
	-fx-text-fill: #8E8E93;
	-fx-font-weight: bold;
}

.paragraph-text {
	-fx-font-size: 14;
	-fx-text-fill: #8E8E93;
	-fx-font-weight: normal;
}

.text-field{
	-fx-padding: 10;
	-fx-border-radius: 50;
	-fx-background-radius: 50;
	-fx-background-color: #F5EDF4;
}

.password-field{
	-fx-padding: 10;
	-fx-border-radius: 50;
	-fx-background-radius: 50;
	-fx-background-color: #F5EDF4;
}

.page-button{
	-fx-background-radius: 50;
	-fx-border-color: transparent;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0.5, 1);
	-fx-font-size: 14;
	-fx-padding: 5px 50px;
}

.page-button:hover{
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.page-button:pressed{
	-fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.page-button-active {
	-fx-background-color: #736FDC;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.page-button-inactive{
	-fx-background-color: white;
	-fx-text-fill: #736FDC;
}

.return-button {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: #c5c5c5;
	-fx-font-size: 30;
	-fx-padding: 0;
}

