.list-view{
	-fx-background-radius: 20;
	-fx-background-color: white;
	-fx-border-radius: 20;
	-fx-border-color: transparent;
	-fx-padding:20;
}

.list-cell:even{
	-fx-background-color: #C5C4E8;
}

.list-cell:odd{
	-fx-background-color: #f5f5f5;
}
